
{%extends "base.html"%}
{% block head_title%}{{instance.title}}|Try Django{% endblock head_title %}

<style>
    {% block style%}
    h1 {
    color: #777777;
    }

    {%endblock style%}
</style>
{%block content%}


{% if messages %}
<ul class="messages">
    {% for message in messages%}
    <li {%if message.tags%} class="{{message.tags}}" {% endif %}>{{message}}</li>
    {%endfor%}
</ul>
{% endif %}
<img src="{{instance.image.url}}" class="img-responsive"/>

<h1>{{title}} is working!</h1>

    {{instance.title}}<br/>
    {{instance.content}}<br/>
    {{instance.timestamp}}<br/>
    {{instance.id}}<br/>
{% endblock content%}